.twitter {
  width: 200px;
  aspect-ratio: 1/1;
  border-radius: 20%;
  background: black;
  display: grid;
  grid-template-columns: auto;
  position: relative;
  align-items: center;
  justify-items: center;

  div {
    position: absolute;
  }

  .linea-1 {
    width: 70px;
    border: 10px solid white;
    transform: skew(40deg) rotate(90deg);
    padding: 10px;
    background-color: black;
    z-index: 1;
  }

  .linea-2 {
    width: 90px;
    transform: skew(-40deg) rotate(-90deg);
    padding: 10px;
    background-color: white;
  }
}
